<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>拼图后台管理-后台管理</title>
    <link rel="stylesheet" href="./Application/View/Admin/css/pintuer.css">
    <link rel="stylesheet" href="./Application/View/Admin/css/admin.css">
    <script type="text/javascript">
        window.onload=function(){
            //全选
            document.getElementById('checkall').onclick=function(){
                var boxes=document.getElementsByName('art_id');
                for(var i=0;i<boxes.length;i++){
                    boxes[i].checked=!boxes[i].checked;
                }
            }
            //批量删除
            document.getElementById('recy_all').onclick=function(){
                var ids=[];                 //保存删除的id编号，数组格式
                var boxes=document.getElementsByName('art_id');
                
                for(var i=0;i<boxes.length;i++){
                    if(boxes[i].checked){
                        ids.push(boxes[i].value);
                    }
                }
                if(ids.length!=0){
                    //将元素连接成字符串 逗号连接
                    ids=ids.join();
                    location.href="index.php?p=Admin&c=Article&a=roll&art_id="+ids;
                }
            }
        }
    </script>
</head>

<body>
<div class="admin">
<form method="post">
<div class="panel admin-panel">
<!-- <div class="panel-head"><strong>文章检索</strong>&nbsp;&nbsp;&nbsp;&nbsp;
	类别：
    <select></select>
    标题：<input type="text" name="title">
    内容：<input type="text" name="content">
    是否公开：<select><option value="">不限</option><option value="1">是</option><option value="0">否</option></select>
    是否置顶：<select><option value="">不限</option><option value="1">是</option><option value="0">否</option></select>
    <input type="submit" name="submit" value="搜索">
</div> -->
</div>
</form>
    <div class="panel admin-panel">
    	<div class="panel-head"><strong>回收站</strong></div>
        <div class="padding border-bottom">
            <input type="button" class="button button-small checkall" id="checkall" checkfor="id" value="全选" />
            <input type="button" class="button button-small border-green" value="返回文章列表" onClick="location.href='index.php?p=Admin&c=Article&a=list'"/>
            <input type="button" class="button button-small border-blue" id="recy_all" value="批量恢复" />
            <input type="button" class="button button-small border-yellow" value="清空回收站" 
            onClick="location.href='index.php?p=Admin&c=Article&a=kong'"/>
        </div>
        <table class="table table-hover">
            <tr>
                <th width="45">选择</th>
                <th width="120">分类</th>
                <th width="*">名称</th>
                <th>内容</th>
                <th width="100">时间</th>
                <th width="150">操作</th>
            </tr>
            {foreach $data.art_list as $rows}
            <tr>
                <td><input type="checkbox" name="art_id" value="{$rows['art_id']}" /></td>
                <td>{$rows['cat_name']}</td>
                <td>{$rows['art_title']}</td>
                <td>{$rows['art_content']}</td>
                <td>{$rows['art_time']}</td>
                <td>
                    <a class="button border-blue button-little" href="index.php?p=Admin&c=Article&a=roll&art_id={$rows['art_id']}">恢复</a>
                    <a class="button border-yellow button-little" href="index.php?p=Admin&c=Article&a=kong&art_id={$rows['art_id']}" onclick="return confirm('确认删除?')">彻底删除</a>
                    <!-- <a class="button border-blue button-little" href="#">置顶</a> -->
                </td>
            </tr>
            {/foreach}
        </table>
        <!-- <div class="panel-foot text-center">
            <ul class="pagination"><li><a href="#">上一页</a></li></ul>
            <ul class="pagination pagination-group">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
            <ul class="pagination"><li><a href="#">下一页</a></li></ul>
        </div> -->
    </div>
    <br />
    <p class="text-right text-gray">基于<a class="text-gray" target="_blank" href="#">传智播客</a>构建</p>
</div>
</body>
</html>