<!DOCTYPE html>
 <html>
 <head>
 	<title></title>
 </head>
 <body>
 <form action="index.php?c=products&a=upda2" method="post">
 	<table border="1" cellspacing="0" cellpadding="0" align="center" width="980">
 		<caption><h2>修改商品信息</h2></caption>
		<th>编号</th>
		<th>商品名称</th>
		<th>规格</th>
		<th>价格</th>
		<th>库存量</th>
			<tr>
				<td><input type="text" name="proID" value="{$list['proID']}"></input></td>
					
				<td><input type="text" name="proname" value="{$list['proname']}"></input></td>
			
				<td><input type="text" name="proguige" value="{$list['proguige']}"></input></td>	
				
				<td><input type="text" name="proprice" value="{$list['proprice']}"></input></td>
				<td><input type="text" name="proamount" value="{$list['proamount']}"></input></td>
		<tr align="center">
			<td colspan="5">
				<input type="submit" name="btn" value="修改">
			</td>
			
		</tr>
 	</table>	
 </form>

 </body>
 </html>